/* *{
    margin: 0;
} */
.grid{
    /* fr => อัตราส่วนแต่ละช่อง xfr yfr zfr +++ */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: stretch;
    align-items:baseline;
}




.content{
    background-color: #9399e0;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 2px 8px;
}

